.kanban{
    display: flex;
    padding: 30px;
    width: 750px;
    margin: 10px 5px;
    background-color: aliceblue;
    border-radius: 8px;
    justify-self: center;
}
.kanban *{
    font-family: cursive;
}
.kanban_col{
    flex: 1;
}           
.kanban_col:not(:last-child){
    margin-right: 30px;
}
.kanban_col_title{
    font-family: sans-serif;
    margin-bottom: 20px;
    font-size: x-large;
    font-weight: bold;
    color: blue;
}
.kanban_item_input{
    padding: 10px 15px;
    box-sizing: border-box;
    background-color: lightskyblue;
    border-radius: 8px;
    cursor: pointer;
}
.kanban_dropzone{
    height: 10px;
    transition: background 0.15s, height 0.15s;

}
.kanban_dropzone_active{
    height: 20px;
    border-radius: 5px;
    background-color: rgba(200, 200, 251, 0.5) ;
}
.kanban_add_item{
    width: 100%;
    padding: 10px 0;
    font-size: medium;
    color: black;
    background-color: rgb(135, 206, 235, 0.7) ;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
html, body {
     margin: 0; padding: 0; 
}

header {
    background-color: lightskyblue;
    padding: 1rem 2rem;
    margin: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    height: 10vh;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Status Badge Styling */
.status {
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 12px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    font-weight: 500;
}
h1{
    text-align: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
